<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minute.application.app.mapper.JoinRecordMapper">
  <resultMap id="BaseResultMap" type="com.minute.application.app.entry.JoinRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deal_id" jdbcType="VARCHAR" property="dealId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="token_num" jdbcType="VARCHAR" property="tokenNum" />
    <result column="coin_proportion" jdbcType="VARCHAR" property="coinProportion" />
    <result column="pay_num" jdbcType="VARCHAR" property="payNum" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, deal_id, user_id, project_id, token_num, coin_proportion, pay_num, status, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from join_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from join_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.minute.application.app.entry.JoinRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into join_record (deal_id, user_id, project_id, 
      token_num, coin_proportion, pay_num, 
      status, create_time, update_time
      )
    values (#{dealId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, 
      #{tokenNum,jdbcType=VARCHAR}, #{coinProportion,jdbcType=VARCHAR}, #{payNum,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.minute.application.app.entry.JoinRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into join_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dealId != null">
        deal_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="tokenNum != null">
        token_num,
      </if>
      <if test="coinProportion != null">
        coin_proportion,
      </if>
      <if test="payNum != null">
        pay_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dealId != null">
        #{dealId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="tokenNum != null">
        #{tokenNum,jdbcType=VARCHAR},
      </if>
      <if test="coinProportion != null">
        #{coinProportion,jdbcType=VARCHAR},
      </if>
      <if test="payNum != null">
        #{payNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minute.application.app.entry.JoinRecord">
    update join_record
    <set>
      <if test="dealId != null">
        deal_id = #{dealId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="tokenNum != null">
        token_num = #{tokenNum,jdbcType=VARCHAR},
      </if>
      <if test="coinProportion != null">
        coin_proportion = #{coinProportion,jdbcType=VARCHAR},
      </if>
      <if test="payNum != null">
        pay_num = #{payNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minute.application.app.entry.JoinRecord">
    update join_record
    set deal_id = #{dealId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      project_id = #{projectId,jdbcType=BIGINT},
      token_num = #{tokenNum,jdbcType=VARCHAR},
      coin_proportion = #{coinProportion,jdbcType=VARCHAR},
      pay_num = #{payNum,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
	
  <select id="joinProjectByUserId" resultMap="BaseResultMap">
	select * from join_record where user_id = #{userId,jdbcType=BIGINT}
  </select>
	
	<update id="updateStatusByProjectId"
		parameterType="com.minute.application.app.entry.JoinRecord">
		update join_record
		set
		status = '9',
		where project_id = #{projectId,jdbcType=BIGINT}
	</update>

</mapper>